body {
  padding-top: 10px;
  background-color: #921f62 !important;
  background-image: url('../img/background_ulille.jpg');
}

#corps {
  /*background-color: #921f62 !important;*/
}

.img_footer {
	margin-left : 2%;
}

.contents {
  background-color: white !important;
}

.row {
  padding : 1%;
}

#membres {
  padding-right: 3%;
}

footer {
  margin-left: -0.5% !important;
  margin-right: -0.5% !important;
}

#credits {
  white-space: pre-wrap;
}

/*
[class*="col-"], footer {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}*/
/*
.credits {
  display: inline-block;
  vertical-align: middle;
  float: none;
} */

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.center_div {
  text-align: center;
}

.vcenter_div {
  vertical-align: center;
}

.form-connection {
  text-align: left;
}

ul {
  list-style-type: none;
  padding-left: 0%;
}

.nom_membres {
  padding-top: 2px;
}

#discussion_membres {
  height: 130px;
  max-height: 130px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.photo {
  height: 20%;
  width: 20%;
}

.commentArea {
    font: 14px Arial;
    padding: 0 10px;
    padding-bottom: 5%;
    margin-top: 20px;
    height: 165px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bubbledLeft,.bubbledRight {
    margin-top: 20px;
    padding: 5px 9px;
    width: 70%;
    clear: both;
    position: relative;
}

.bubbledLeft{
    float: left;
    margin-right: auto;
    -webkit-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    -o-border-radius: 8px 8px 8px 0px;
    -ms-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
    background-color: #65B045;
    color: #ffffff;
}

.bubbledLeft:before {
    border-bottom: 10px solid #65B045;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}

.bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
    -webkit-border-radius: 8px 8px 0px 8px;
    -moz-border-radius: 8px 8px 0px 8px;
    -o-border-radius: 8px 8px 0px 8px;
    -ms-border-radius: 8px 8px 0px 8px;
    border-radius: 8px 8px 0px 8px;
    background-color: #07D;
    color: white;
}

.bubbledRight:before {
    border-bottom: 9px solid #07D;
    border-right: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    right: -8px;
    content: "";
}
